[v-cloak] {
    display: none;
}

body {
    &.demo {
        font-family: Arial, PMingLiU, 新細明體;
        padding: 8px;

        pre,
        code {
            font-family: MingLiU, 細明體;
        }

        a {
            text-decoration: {
                line: none;
            }

            &:hover {
                color: chocolate;
            }
        }

        .fade {

            &-enter-active,
            &-leave-active {
                transition: opacity 0.075s ease;
            }

            &-enter-from,
            &-leave-to {
                opacity: 0;
            }
        }

        .vue-demo {
            /* body padding = 8px * 2, h1 = 40px * 1.2 + 0.5rem, a = 18px, self border = 3px * 2 */
            height: calc(100vh - 8px * 2 - (40px * 1.2 + 0.5rem) - 18px - 3px * 2);
            border: {
                style: solid;
                color: transparentize(black, 0.6);
                width: 3px;
            }

            .vue-demo-content {
                font-size: 5em;
                opacity: 0.75;
            }

            &#vue-demo {
                &-home {
                    background-color: antiquewhite;
                }

                &-about {
                    background-color: paleturquoise;
                }
            }
        }
    }
}